In [1]:
import pandas as pd
import numpy as np
file = r"C:\Users\manis\Downloads\data.csv"
df = pd.read_csv(file)
df.head()

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]

In [2]:
df = pd.read_csv(file,header=[0,1],skiprows=[1,2],index_col=0)
df.head()

                         2016                                      \
Country            Both sexes              Male            Female
Afghanistan     5.5 [3.4-8.1]     3.2 [1.3-6.4]    7.6 [4.3-12.4]
Albania      21.7 [17.0-26.7]  21.6 [14.8-29.0]  21.8 [15.3-28.9]
Algeria      27.4 [22.5-32.7]  19.9 [13.6-27.1]  34.9 [27.6-42.7]
Andorra      25.6 [20.1-31.3]  25.9 [18.0-34.3]  25.3 [17.7-33.7]
Angola         8.2 [5.1-12.2]     4.0 [1.6-7.9]   12.1 [6.8-19.0]

                         2015                                      \
Country            Both sexes              Male            Female
Afghanistan     5.2 [3.3-7.7]     3.0 [1.3-6.0]    7.3 [4.1-11.8]
Albania      21.1 [16.6-26.0]  20.9 [14.4-28.1]  21.3 [15.1-28.1]
Algeria      26.7 [21.9-31.8]  19.2 [13.2-26.1]  34.2 [27.1-41.7]
Andorra      25.4 [20.1-31.0]  25.5 [17.8-33.8]  25.2 [17.7-33.4]
Angola         7.9 [4.9-11.7]     3.8 [1.5-7.3]   11.6 [6.5-18.2]

                         2014                                      \
Country            Both sexes              Male            Female
Afghanistan     4.9 [3.1-7.3]     2.8 [1.2-5.6]    7.0 [4.0-11.3]
Albania      20.5 [16.2-25.1]  20.2 [13.9-27.3]  20.8 [14.9-27.4]
Algeria      26.0 [21.4-30.9]  18.5 [12.7-25.0]  33.6 [26.7-40.7]
Andorra      25.2 [20.0-30.7]  25.2 [17.6-33.3]  25.1 [17.8-33.1]
Angola         7.5 [4.7-11.2]     3.6 [1.4-6.9]   11.1 [6.2-17.5]

                         2013  ...              1978             1977  \
Country            Both sexes  ...            Female       Both sexes
Afghanistan     4.7 [2.9-6.9]  ...     0.9 [0.3-2.2]    0.6 [0.2-1.2]
Albania      19.9 [15.7-24.4]  ...    9.1 [4.6-15.5]   6.8 [4.0-10.7]
Algeria      25.3 [20.9-30.1]  ...   11.8 [6.5-18.6]   7.4 [4.3-11.3]
Andorra      25.0 [20.0-30.3]  ...  17.5 [10.9-25.3]  14.0 [9.6-19.1]
Angola         7.1 [4.4-10.6]  ...     1.6 [0.5-3.7]    0.9 [0.3-2.0]

                                                           1976  \
Country                 Male            Female       Both sexes
Afghanistan    0.2 [0.0-0.7]     0.9 [0.3-2.1]    0.5 [0.2-1.1]
Albania        4.8 [2.0-9.3]    8.9 [4.3-15.4]   6.7 [3.8-10.6]
Algeria        3.1 [1.2-6.2]   11.4 [6.2-18.4]   7.2 [4.1-11.1]
Andorra      10.7 [5.6-17.4]  16.9 [10.4-24.8]  13.5 [9.1-18.6]
Angola         0.3 [0.0-0.9]     1.5 [0.4-3.6]    0.9 [0.3-2.0]

                                                          1975  \
Country                 Male           Female       Both sexes
Afghanistan    0.2 [0.0-0.7]    0.8 [0.2-2.0]    0.5 [0.2-1.1]
Albania        4.6 [1.8-9.2]   8.8 [4.1-15.4]   6.5 [3.6-10.5]
Algeria        2.9 [1.1-6.1]  11.1 [5.8-18.2]   6.9 [3.9-10.9]
Andorra      10.2 [5.2-16.9]  16.4 [9.8-24.4]  12.9 [8.6-18.1]
Angola         0.3 [0.0-0.9]    1.4 [0.4-3.5]    0.8 [0.3-1.9]


Country                Male           Female
Afghanistan   0.2 [0.0-0.6]    0.8 [0.2-2.0]
Albania       4.4 [1.7-9.2]   8.6 [3.9-15.4]
Algeria       2.8 [1.0-6.0]  10.7 [5.5-18.0]
Andorra      9.7 [4.7-16.3]  15.8 [9.2-23.9]
Angola        0.2 [0.0-0.8]    1.4 [0.4-3.4]

[5 rows x 126 columns]

In [3]:
df.columns.names

FrozenList([None, 'Country'])

In [4]:
df.columns.names = ['Year', 'Gender']
df.columns.names

FrozenList(['Year', 'Gender'])

In [5]:
df.index.names

FrozenList([None])

In [6]:
df.index.names = ['Country']

In [7]:
df.index.names

FrozenList(['Country'])

In [8]:
df.head()

Year                     2016                                      \
Gender             Both sexes              Male            Female
Country
Afghanistan     5.5 [3.4-8.1]     3.2 [1.3-6.4]    7.6 [4.3-12.4]
Albania      21.7 [17.0-26.7]  21.6 [14.8-29.0]  21.8 [15.3-28.9]
Algeria      27.4 [22.5-32.7]  19.9 [13.6-27.1]  34.9 [27.6-42.7]
Andorra      25.6 [20.1-31.3]  25.9 [18.0-34.3]  25.3 [17.7-33.7]
Angola         8.2 [5.1-12.2]     4.0 [1.6-7.9]   12.1 [6.8-19.0]

Year                     2015                                      \
Gender             Both sexes              Male            Female
Country
Afghanistan     5.2 [3.3-7.7]     3.0 [1.3-6.0]    7.3 [4.1-11.8]
Albania      21.1 [16.6-26.0]  20.9 [14.4-28.1]  21.3 [15.1-28.1]
Algeria      26.7 [21.9-31.8]  19.2 [13.2-26.1]  34.2 [27.1-41.7]
Andorra      25.4 [20.1-31.0]  25.5 [17.8-33.8]  25.2 [17.7-33.4]
Angola         7.9 [4.9-11.7]     3.8 [1.5-7.3]   11.6 [6.5-18.2]

Year                     2014                                      \
Gender             Both sexes              Male            Female
Country
Afghanistan     4.9 [3.1-7.3]     2.8 [1.2-5.6]    7.0 [4.0-11.3]
Albania      20.5 [16.2-25.1]  20.2 [13.9-27.3]  20.8 [14.9-27.4]
Algeria      26.0 [21.4-30.9]  18.5 [12.7-25.0]  33.6 [26.7-40.7]
Andorra      25.2 [20.0-30.7]  25.2 [17.6-33.3]  25.1 [17.8-33.1]
Angola         7.5 [4.7-11.2]     3.6 [1.4-6.9]   11.1 [6.2-17.5]

Year                     2013  ...              1978             1977  \
Gender             Both sexes  ...            Female       Both sexes
Country                        ...
Afghanistan     4.7 [2.9-6.9]  ...     0.9 [0.3-2.2]    0.6 [0.2-1.2]
Albania      19.9 [15.7-24.4]  ...    9.1 [4.6-15.5]   6.8 [4.0-10.7]
Algeria      25.3 [20.9-30.1]  ...   11.8 [6.5-18.6]   7.4 [4.3-11.3]
Andorra      25.0 [20.0-30.3]  ...  17.5 [10.9-25.3]  14.0 [9.6-19.1]
Angola         7.1 [4.4-10.6]  ...     1.6 [0.5-3.7]    0.9 [0.3-2.0]

Year                                                       1976  \
Gender                  Male            Female       Both sexes
Country
Afghanistan    0.2 [0.0-0.7]     0.9 [0.3-2.1]    0.5 [0.2-1.1]
Albania        4.8 [2.0-9.3]    8.9 [4.3-15.4]   6.7 [3.8-10.6]
Algeria        3.1 [1.2-6.2]   11.4 [6.2-18.4]   7.2 [4.1-11.1]
Andorra      10.7 [5.6-17.4]  16.9 [10.4-24.8]  13.5 [9.1-18.6]
Angola         0.3 [0.0-0.9]     1.5 [0.4-3.6]    0.9 [0.3-2.0]

Year                                                      1975  \
Gender                  Male           Female       Both sexes
Country
Afghanistan    0.2 [0.0-0.7]    0.8 [0.2-2.0]    0.5 [0.2-1.1]
Albania        4.6 [1.8-9.2]   8.8 [4.1-15.4]   6.5 [3.6-10.5]
Algeria        2.9 [1.1-6.1]  11.1 [5.8-18.2]   6.9 [3.9-10.9]
Andorra      10.2 [5.2-16.9]  16.4 [9.8-24.4]  12.9 [8.6-18.1]
Angola         0.3 [0.0-0.9]    1.4 [0.4-3.5]    0.8 [0.3-1.9]

Year
Gender                 Male           Female
Country
Afghanistan   0.2 [0.0-0.6]    0.8 [0.2-2.0]
Albania       4.4 [1.7-9.2]   8.6 [3.9-15.4]
Algeria       2.8 [1.0-6.0]  10.7 [5.5-18.0]
Andorra      9.7 [4.7-16.3]  15.8 [9.2-23.9]
Angola        0.2 [0.0-0.8]    1.4 [0.4-3.4]

[5 rows x 126 columns]

In [9]:
df = df.sort_index(axis = 1,level= 0)

In [10]:
df.head()

Year                    1975                                   \
Gender            Both sexes           Female            Male
Country
Afghanistan    0.5 [0.2-1.1]    0.8 [0.2-2.0]   0.2 [0.0-0.6]
Albania       6.5 [3.6-10.5]   8.6 [3.9-15.4]   4.4 [1.7-9.2]
Algeria       6.9 [3.9-10.9]  10.7 [5.5-18.0]   2.8 [1.0-6.0]
Andorra      12.9 [8.6-18.1]  15.8 [9.2-23.9]  9.7 [4.7-16.3]
Angola         0.8 [0.3-1.9]    1.4 [0.4-3.4]   0.2 [0.0-0.8]

Year                    1976                                    \
Gender            Both sexes           Female             Male
Country
Afghanistan    0.5 [0.2-1.1]    0.8 [0.2-2.0]    0.2 [0.0-0.7]
Albania       6.7 [3.8-10.6]   8.8 [4.1-15.4]    4.6 [1.8-9.2]
Algeria       7.2 [4.1-11.1]  11.1 [5.8-18.2]    2.9 [1.1-6.1]
Andorra      13.5 [9.1-18.6]  16.4 [9.8-24.4]  10.2 [5.2-16.9]
Angola         0.9 [0.3-2.0]    1.4 [0.4-3.5]    0.3 [0.0-0.9]

Year                    1977                                     \
Gender            Both sexes            Female             Male
Country
Afghanistan    0.6 [0.2-1.2]     0.9 [0.3-2.1]    0.2 [0.0-0.7]
Albania       6.8 [4.0-10.7]    8.9 [4.3-15.4]    4.8 [2.0-9.3]
Algeria       7.4 [4.3-11.3]   11.4 [6.2-18.4]    3.1 [1.2-6.2]
Andorra      14.0 [9.6-19.1]  16.9 [10.4-24.8]  10.7 [5.6-17.4]
Angola         0.9 [0.3-2.0]     1.5 [0.4-3.6]    0.3 [0.0-0.9]

Year                     1978  ...              2013              2014  \
Gender             Both sexes  ...              Male        Both sexes
Country                        ...
Afghanistan     0.6 [0.2-1.3]  ...     2.7 [1.1-5.3]     4.9 [3.1-7.3]
Albania        7.0 [4.2-10.8]  ...  19.5 [13.4-26.3]  20.5 [16.2-25.1]
Algeria        7.7 [4.6-11.4]  ...  17.8 [12.3-24.1]  26.0 [21.4-30.9]
Andorra      14.5 [10.1-19.6]  ...  24.8 [17.5-32.7]  25.2 [20.0-30.7]
Angola          1.0 [0.4-2.1]  ...     3.3 [1.3-6.4]    7.5 [4.7-11.2]

Year                                                         2015  \
Gender                 Female              Male        Both sexes
Country
Afghanistan    7.0 [4.0-11.3]     2.8 [1.2-5.6]     5.2 [3.3-7.7]
Albania      20.8 [14.9-27.4]  20.2 [13.9-27.3]  21.1 [16.6-26.0]
Algeria      33.6 [26.7-40.7]  18.5 [12.7-25.0]  26.7 [21.9-31.8]
Andorra      25.1 [17.8-33.1]  25.2 [17.6-33.3]  25.4 [20.1-31.0]
Angola        11.1 [6.2-17.5]     3.6 [1.4-6.9]    7.9 [4.9-11.7]

Year                                                         2016  \
Gender                 Female              Male        Both sexes
Country
Afghanistan    7.3 [4.1-11.8]     3.0 [1.3-6.0]     5.5 [3.4-8.1]
Albania      21.3 [15.1-28.1]  20.9 [14.4-28.1]  21.7 [17.0-26.7]
Algeria      34.2 [27.1-41.7]  19.2 [13.2-26.1]  27.4 [22.5-32.7]
Andorra      25.2 [17.7-33.4]  25.5 [17.8-33.8]  25.6 [20.1-31.3]
Angola        11.6 [6.5-18.2]     3.8 [1.5-7.3]    8.2 [5.1-12.2]

Year
Gender                 Female              Male
Country
Afghanistan    7.6 [4.3-12.4]     3.2 [1.3-6.4]
Albania      21.8 [15.3-28.9]  21.6 [14.8-29.0]
Algeria      34.9 [27.6-42.7]  19.9 [13.6-27.1]
Andorra      25.3 [17.7-33.7]  25.9 [18.0-34.3]
Angola        12.1 [6.8-19.0]     4.0 [1.6-7.9]

[5 rows x 126 columns]

In [11]:
y = df.stack(level = 0)
y

Gender                  Both sexes            Female           Male
Country     Year
Afghanistan 1975     0.5 [0.2-1.1]     0.8 [0.2-2.0]  0.2 [0.0-0.6]
            1976     0.5 [0.2-1.1]     0.8 [0.2-2.0]  0.2 [0.0-0.7]
            1977     0.6 [0.2-1.2]     0.9 [0.3-2.1]  0.2 [0.0-0.7]
            1978     0.6 [0.2-1.3]     0.9 [0.3-2.2]  0.2 [0.1-0.7]
            1979     0.6 [0.3-1.3]     1.0 [0.3-2.3]  0.3 [0.1-0.8]
...                            ...               ...            ...
Zimbabwe    2012  14.3 [11.4-17.6]  23.5 [18.3-29.3]  4.0 [2.2-6.6]
            2013  14.6 [11.5-18.0]  23.9 [18.5-30.0]  4.2 [2.3-6.9]
            2014  14.9 [11.7-18.4]  24.4 [18.8-30.6]  4.4 [2.4-7.3]
            2015  15.2 [11.9-18.8]  24.8 [18.9-31.3]  4.5 [2.4-7.6]
            2016  15.5 [12.0-19.2]  25.3 [19.1-32.0]  4.7 [2.5-8.0]

[8190 rows x 3 columns]

In [25]:
z = y.reset_index()

In [26]:
z

Gender      Country  Year        Both sexes            Female           Male
0       Afghanistan  1975     0.5 [0.2-1.1]     0.8 [0.2-2.0]  0.2 [0.0-0.6]
1       Afghanistan  1976     0.5 [0.2-1.1]     0.8 [0.2-2.0]  0.2 [0.0-0.7]
2       Afghanistan  1977     0.6 [0.2-1.2]     0.9 [0.3-2.1]  0.2 [0.0-0.7]
3       Afghanistan  1978     0.6 [0.2-1.3]     0.9 [0.3-2.2]  0.2 [0.1-0.7]
4       Afghanistan  1979     0.6 [0.3-1.3]     1.0 [0.3-2.3]  0.3 [0.1-0.8]
...             ...   ...               ...               ...            ...
8185       Zimbabwe  2012  14.3 [11.4-17.6]  23.5 [18.3-29.3]  4.0 [2.2-6.6]
8186       Zimbabwe  2013  14.6 [11.5-18.0]  23.9 [18.5-30.0]  4.2 [2.3-6.9]
8187       Zimbabwe  2014  14.9 [11.7-18.4]  24.4 [18.8-30.6]  4.4 [2.4-7.3]
8188       Zimbabwe  2015  15.2 [11.9-18.8]  24.8 [18.9-31.3]  4.5 [2.4-7.6]
8189       Zimbabwe  2016  15.5 [12.0-19.2]  25.3 [19.1-32.0]  4.7 [2.5-8.0]

[8190 rows x 5 columns]

In [27]:
z = z.melt(id_vars=['Country','Year'], value_vars=['Both sexes', 'Female', 'Male'], value_name='Obesity levels')

In [28]:
z

           Country  Year      Gender Obesity levels
0      Afghanistan  1975  Both sexes  0.5 [0.2-1.1]
1      Afghanistan  1976  Both sexes  0.5 [0.2-1.1]
2      Afghanistan  1977  Both sexes  0.6 [0.2-1.2]
3      Afghanistan  1978  Both sexes  0.6 [0.2-1.3]
4      Afghanistan  1979  Both sexes  0.6 [0.3-1.3]
...            ...   ...         ...            ...
24565     Zimbabwe  2012        Male  4.0 [2.2-6.6]
24566     Zimbabwe  2013        Male  4.2 [2.3-6.9]
24567     Zimbabwe  2014        Male  4.4 [2.4-7.3]
24568     Zimbabwe  2015        Male  4.5 [2.4-7.6]
24569     Zimbabwe  2016        Male  4.7 [2.5-8.0]

[24570 rows x 4 columns]

In [31]:
z.sort_values(['Country','Year'],inplace = True)
z

           Country  Year      Gender    Obesity levels
0      Afghanistan  1975  Both sexes     0.5 [0.2-1.1]
8190   Afghanistan  1975      Female     0.8 [0.2-2.0]
16380  Afghanistan  1975        Male     0.2 [0.0-0.6]
1      Afghanistan  1976  Both sexes     0.5 [0.2-1.1]
8191   Afghanistan  1976      Female     0.8 [0.2-2.0]
...            ...   ...         ...               ...
16378     Zimbabwe  2015      Female  24.8 [18.9-31.3]
24568     Zimbabwe  2015        Male     4.5 [2.4-7.6]
8189      Zimbabwe  2016  Both sexes  15.5 [12.0-19.2]
16379     Zimbabwe  2016      Female  25.3 [19.1-32.0]
24569     Zimbabwe  2016        Male     4.7 [2.5-8.0]

[24570 rows x 4 columns]

In [35]:
z.reset_index(drop = True)

           Country  Year      Gender    Obesity levels
0      Afghanistan  1975  Both sexes     0.5 [0.2-1.1]
1      Afghanistan  1975      Female     0.8 [0.2-2.0]
2      Afghanistan  1975        Male     0.2 [0.0-0.6]
3      Afghanistan  1976  Both sexes     0.5 [0.2-1.1]
4      Afghanistan  1976      Female     0.8 [0.2-2.0]
...            ...   ...         ...               ...
24565     Zimbabwe  2015      Female  24.8 [18.9-31.3]
24566     Zimbabwe  2015        Male     4.5 [2.4-7.6]
24567     Zimbabwe  2016  Both sexes  15.5 [12.0-19.2]
24568     Zimbabwe  2016      Female  25.3 [19.1-32.0]
24569     Zimbabwe  2016        Male     4.7 [2.5-8.0]

[24570 rows x 4 columns]